.cointainer{
    display: flex;
    justify-content: space-between;
}
.nav_elementsleft{
    display: flex;
}
.nav_elementsRight>ul{
    list-style: none;
    display: flex;
    gap: 30px;

}
.navbar{
    padding: 60px;
    margin: 0px 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ................ */


.section1{
    background: linear-gradient(
        to top,
        rgba(224, 224, 224, 0),
        rgba(0, 0, 0, 1)
      ),
      url('/B9A2-Hero-Travel/Images/Group13.png');
      background-position: center center;
    background-repeat: no-repeat;
    width: 1120px;
    height: 500px;
    margin: 40px auto;
    border-radius: 16px;
}
.section1text{
    padding-left:3%;
    padding-top: 10%;
    text-align: center;
    color: rgb(255, 255, 255);
}
.section1inputs{
    margin: 10px 18%;
    /* align-items: center; */
    border-radius: 15px;
    padding: 20px;
    background-color: antiquewhite;
    opacity: 0.8;
   
}
.section1input{
    margin: 0px 13px;
    padding: 12px 18px;
    border-radius: 10px;
    border-color: none;
   
}
.btn{
    padding: 12px 20px;
    border-radius: 10px;
    border-color: none;
    color: rgb(255, 255, 255);
    background-color: chocolate;
}

/* .............. */

.section2parts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: solid;
    margin: 0px 150px;
    margin-top: 100px;
}
.section2img{
    padding-left: 80px;
    width: 540px;
    height: 550px;
   
}
.section2text{
    padding-left: 80PX;
    padding-top: 80PX
    color: #5A5A5D;
    font-family: Mulish;
    font-size:16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}




